html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

#map-canvas,
.map-container {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#sidebar {
  background-color: #423F3A;
  color: #fff;
  overflow-y: scroll;
}

.search-bar {
  margin-top: 15px;
}

.place-list {
  height: 300px;
  overflow-y: scroll;
  padding-left: 0;
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 20px 10px;
  border-radius: 4px;
}

.place-list li {
  list-style: none;
}

.place-list li:hover {
  cursor: pointer;
}

.current-place-container {
}

a {
  color:#222222;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
}

/* override bootstrap */
.container-fluid {
  padding: 0;
}

.no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#loading-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  text-align: center;
  position: absolute;
}

#loading-overlay .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 100px;
  border-radius: 4px;
}
